@import url("shared.css");

.Applications{
    padding-top: 65px;
}

#noJob{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: larger;
}

.loadingContainer{
    display: grid;
    place-content: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--blue-soft);
    border-color: var(--blue-soft) transparent var(--blue-soft) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}