.cardSection{
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards{
    margin: 35px 0;
    width: 99vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    place-content: center;
}

#titleSection{
    color: white;
    font-size: 50px;
}

@media (max-width: 900px){
    .cardSection{
        grid-gap: 45px;
    }
    #titleSection{
        color: white;
        font-size: 8vw;
    }
}