@import url("./shared.css");

.notFound{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    display: grid;
    place-content: center;
}

.errorCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#codeError{
    font-size: 150px;
    color: var(--blue-medium)
}

#codeDesc{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    font-size: 35px;
    color: white;
}

#homeBtn{
    background-color: var(--blue-soft);
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

#homeBtn:hover{
    background-color: royalblue;
}