@import url("shared.css");

.offers{
    width: 95.5%;
    height: 100%;
    padding-top: 65px;
    margin: 0 30px;
}

.pagination{
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    width: 100%;
    display: flex;
    place-content: center;
    list-style-type: none;
}

.pagination li{
    width: max-content;
    display: inline-block;
    cursor: pointer;
    background-color: var(--white-50);
    width: max-content;
    text-align: center;
    border: 1px solid var(--blue-medium);
}

.pagination > .selected{
    background-color: var(--blue-soft);
    cursor: default;
}

.pagination a{
    display: inline-block;
    position: relative;    
    z-index: 1;
    padding: 0 10px;
}

.pagination li:hover{
    background-color: var(--blue-soft);
}

.pagination li:focus{
    outline: none;
}

.previous{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.next{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 1000px){
    .offers{
        width: 100%;
        margin: 0;
    }
}

.loadingContainer{
    display: grid;
    place-content: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--blue-soft);
    border-color: var(--blue-soft) transparent var(--blue-soft) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}