@import url("shared.css");

.jobFormContainer{
    width: 80%;
    min-height: 80vh;
    background-color: var(--white-50);
    position: absolute;
    padding: 50px;
    top: 80px;
    left: 50%;
    margin-bottom: 90px;
    transform: translateX(-50%);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h5{
    font-size: 14px;
}

textarea{
    border: none;
    border-bottom: 1px solid var(--blue-soft);
    width: 100%;
}

textarea:focus{
    outline: none;
}

#longInput{
    font-size: 14px;
    height: 150px;
}